@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

*{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
body {
    margin: 0;
}
.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5vh;
	backdrop-filter: 5px;
	background-color: #101010;
}